h1 {
    color: blue;
}

p>input,
p>textarea,
form>input {
    width: 100%;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    font-size: 20px;
}

p>label {
    font-size: 18px;
    color: darkgreen;
}